.assigned-container {
  padding: 20px;
}

.assigned-table {
  width: 100%;
  border-collapse: collapse;
}

.assigned-table th,
.assigned-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.assigned-table th {
  background: #374151;
  color: white;
}

.edit-btn {
  background: #2563eb;
  color: white;
  padding: 6px 10px;
  border: none;
  margin-right: 5px;
}

.danger-btn {
  background: #dc2626;
  color: white;
  padding: 6px 10px;
  border: none;
}
