.admin-container {
  margin-top: 110px;
  display: flex;
 height: auto;
  animation: fadeIn 0.8s ease-in-out;
  color: black;
}
 @keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.sidebar {
  width: 200px;
  background: #1e293b;
  color: white;
  padding: 20px 5px 5px 5px;
  margin-top: 0px !important;
  

  font-size: 10px !important;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar a {
 text-decoration: none;
  color:gray;
  display: block;
  padding: 6px 10px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
}
.procctor-sidebar a{
   padding: 13.2px 6px;
}

.sidebar a:hover {
  background: dodgerblue;
  color: white;
  
}
.active-link {
  
  
  color:orange !important;   /* ONLY text/icon color changes */
  font-weight: bold;
  
   
}

.admin-content {
  flex: 1;
  padding: 30px;
  background: #f1f5f9;
}

.form-box {
  background: white;
  padding: 20px;
  max-width: 400px;
  border-radius: 8px;
}

.form-box input {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

.form-box button {
  width: 100%;
  padding: 10px;
}
.ManageAdmins-table{
  border-collapse: collapse;
}
.delete{
  background-color: red;
  border: none;
   border-radius: 5px;
   width: 80px;
      padding: 5px;
}
.edit{
  background-color: dodgerblue;
  border: none;
  border-radius: 5px;
   width: 80px;
   padding: 5px;
   margin: 4px;
}
.ma{
  margin-right: 8px;
  margin-bottom: 10px;
}