.dashboard-container {
  display: flex;
  height: 100vh;
  background: linear-gradient(to right,#2c3e50,#2c3e50,#2c3e50 ,blue,aqua);
  margin-top: 110px;
  /* background-color: #2c3e50; */

   animation: fadeIn 0.8s ease-in-out;
 
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.dashboard-content {
  flex: 1;
  padding: 30px 10px 10px 10px;
  overflow-y: auto;
  margin-top: 20px;
  margin-left: 200px;
}
.logo{
  text-align: left !important;
}

.sidebar {
  width: 230px;
  background: #2c3e50;
  color:white;
  padding: 10px;
  margin-top: 10px;
  text-align: left;
}
.loggout:hover{
  cursor: pointer;
  color: red;         /* Hover color */
  transform: scale(1.2);
}
 
 .active-link {
  
  
  color:orange !important;   /* ONLY text/icon color changes */
  font-weight: bold;
  
   
}


.sidebar h2 {
  text-align: center;
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 20px;
  width: 100%;
 
}

.sidebar ul li a {
   text-decoration: none;
  color:gray;
  display: block;
  padding: 8px 7px;
  border-radius: 5px;
  
}
.student-sidebar{
   padding: 14px 10px !important;
  font-size: 20px;

}

.sidebar ul li a:hover {
   background-color:dodgerblue;
   color: white;
}

textarea {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}
 button{
   margin-top: 10px;
  padding: 10px 15px;
 }

.submit-report{
  margin-top: 10px;
  padding: 10px 15px;
  background-color: transparent;
  color: dodgerblue;
  border: 2px solid dodgerblue;
}
.submit-repor:hover{
  cursor: pointer;
   
  color: aqua !important;
  border: 2px solid aqua !important;
}

.my-room-container,.report-container{
   animation: fadeIn 0.8s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.report-container{
  text-align: left;
   
}
 
