.main-container{
      width: 100%;
      height: auto;
      background-color: transparent;
      padding: 10% 0 0 0;
      margin: 0% 0  0 0;
       animation: fadeIn 0.8s ease-in-out;
    }
    @keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
     
    .banner{
      background-image: url( "../../../public/images/green.jpg");
      height: auto;
      

  
      
      
       
  background-repeat: no-repeat;
 
      
      text-align: center;
      padding: 5% 0;
       
    }
    .banner-comon{
 
      font-size: 70px;
      background: linear-gradient(to right,green,red,orange, red, #32cd32,red);
    -webkit-background-clip: text;  /* clips the background to the text */
  -webkit-text-fill-color: transparent; /* makes text itself transparent so gradient shows */
       
      font-weight: bold;
      margin: 5% 0 ;

    }
    .promotin{
      margin: 10% 0 0 0 0;
      font-size: 40px;
      margin-top: 1%;
      margin-bottom: 2%;
     color: orange;
      /* text-shadow: 1px 2px 2px #000000; */
      font-weight: bold;
    }
    .banner-sign-up-in{
      display: flex;
      justify-content: center;
      gap: 20%;
      
    }
    .sign-up-on-banner a{
      
 margin-top: 8%;
      display: inline-block;
       width: 300px;
padding : 20px;


color:dodgerblue;
font-size: 20px;



font-weight: 800;



background-color: white;
text-transform: uppercase;



border: 3px solid   dodgerblue;
border-radius: 50px;
text-decoration: none;



 

 
      

 
    }
    /* .private a{
      background: linear-gradient(135deg,red, green );
    }
      */
    .number-of-blocks{
      display: flex;
      justify-content: space-around;
      margin: 20% 0 0 0 0;
      height: auto;
      
    }
    .number-of-blocks .block h2{
      font-size: 20px;
      color: #023E8A;
      font-weight: bold;
       
    }
    
    .block{
      width: 15%;
      
      height: 100px;
      background-color: rgb(4, 180, 110);
      padding: 2%;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      text-align: center;
       box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  opacity: 0.8;
    }
    .number-of-blocks .block p{
      font-size: 20px;
      color: #03045E;
      font-weight: bold;
      
    }
    .block:hover{
      background-color: #00e5ff;
     cursor: zoom-in;
      transform: scale(1.1);
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
      opacity: 1;
    }
    .sign-up-on-banner a:hover{
     

   box-shadow: 0 0 10px 0 dodgerblue inset,0 0 20px 0  ;
   border: 3px solid aqua;

    }
    .sign-up-on-banner a:active{
       box-shadow: 0 0 10px 0 dodgerblue inset,0 0 20px 0  ;
        border: 5px solid orange;

    }
    
    .private button{
      margin-top: 8%;
      display: inline-block;
       width: 300px;
padding : 20px;


color:dodgerblue;
font-size: 20px;



font-weight: 800;



background-color: white;
text-transform: uppercase;



border: 3px solid   dodgerblue;
border-radius: 50px;
text-decoration: none;



 

 
     
     
    }
    .home-page-welcom-all{
      width: 93%;
      margin: 1% auto;
      word-wrap: break-word;
      padding: 1% 2%;
      background-color: #FFFFFF;
      
      
      /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); */
      
    }
    .welcome-message-title{
      text-align: center;
    }
    .title-line{
      width: 40%;
      margin: 2% auto;
      border: solid;
      border-radius: 20px;
  
    background: linear-gradient(to right, #1E90FF, #32CD32);
    border-color: #1E90FF;

    }
    
    .home-page-welcom{
       background-color: whitesmoke;
      color:black;
      padding: 2px 2%;
      border-radius: 10px;
    
       
      display: flex

    }
    
    .welcome-message-left{
      width: 70%;
      margin: 0 1% 0 0;
    }
    .home-page-welcom-all p{
      font-size: 15px;
      text-align: justify;
      line-height: 1.9;
      
    
    }
    .welcome-message-right {
       
      text-align: justify;
      
       
      margin-top: 2%;
        font-size: 18px;
        

    }
    .dean-image{
       background-color: rgb(0, 225, 255);
      width: 70%;
      margin-bottom: 2%;
      margin-left: 5%;
    }
    .dean-image img{
      width: 270px;
      height: 200px;
     
     
    }
    .dean-detail1{
      display: flex;
      margin-left: 2%;
      gap: 20px;
      margin-bottom: 10%;
    }
    .dean-detail{
      width: 30%;
      margin-left: 1%;
    }
     
    .student-home {
      display: flex;
      gap: 10px;
      background: linear-gradient(to right, #1E90FF, #32CD32);
      border-radius: 10px;

    }
    .image-for-student img{

      width:  554px;
      border-radius: 10px;
    }
     .image-for-student img:hover{
       transform: scale(1.003);
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
      cursor:zoom-in;
       
     }
    .image-for-student2 img{
       border-radius: 10px;

      width:  560px;
    }
    .image-for-student2 img:hover{
      transform: scale(1.003);
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
      cursor:zoom-in;

    }
    .discription-for-student{
      padding: 10% 2% 0 2%;
       width:  500px;
       color: white;
     

    }

    /* From Uiverse.io by alexroumi */ 
button {
 
 border:none;
 
 color:white;
 z-index: 1;
 background: transparent;
 position: relative;
 top: 0;
 font-size: 17px;
 
 
 
 
}

button::before {
 content: "";
 position: absolute;
 top: 0;
 left: 0;
 height: 100%;
 width: 0;
 border-radius: 150px !important;
 background-color: orange;
 z-index: -1;
 -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
 transition: all 250ms
}

button:hover {
 color: black;

 
}

button:hover::before {
 width: 100%;
}

    
    