/* title */
.title {
  text-align: center;
  color: white;
}

/* table design */
.profile-table {
  width: 90%;
  margin: 0 auto;
  /* border-collapse: collapse;
  background: white; */
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 10px #333;
   animation: fadeIn 0.8s ease-in-out;
}
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* header cells */
.profile-table th {
  background-color: #7ca6d0;
  color: white;
  padding: 15px;
  text-align: left;
}

/* data cells */
.profile-table td {
  padding: 15px 15px 15px 50px;
  font-weight: 800;
  
   text-align: left;
}

/* alternating row color */
.profile-table tr:nth-child(even) {
  background-color: #e8f5ff;
}

.profile-table tr:nth-child(odd) {
  background-color: #ffffff;
}

/* hover effect */
.profile-table tr:hover {
  background-color: #b3e0ff;
  cursor: pointer;
}

/* rounded corners fix */
.profile-table tr:first-child th {
  border-top-left-radius: 10px;
}

.profile-table tr:last-child td {
  border-bottom-right-radius: 10px;
}